#game {
    width: 1000px;
    height: 750px;
    background-color: #ffcc33;
    margin: auto;
}
#numberPad {
    width: 50%;
    float: left;
    height: 100%;
    background-color: gray;
}
#results {
    width: 50%;
    float: left;
    height: 100%;
    background-color: rgb(146, 189, 146);
}
#guessSubmit {
    float: left;
    width: 25%
}

#guessInput {
    float: left;
    width: 75%;
}

.number, #deleteButton, #clearButton {
    float: left;
    width: 30%;
    padding: 47px 0px;
    text-align: center;
    margin: 10px 1.5%;
    background-color: black;
    color: white;
    font-size: 50px;
    border-radius: 10px;

}

#guessInput input, #guessSubmit button {
    width: 90%;
    display: block;
    margin: 10px auto;
    padding: 5px;
    font-size: 20px;
    border-radius: 3px;
}


